body {
    background-color: #ffffff;
    margin: 0;
  }
  
  #container {
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
  
  #header {
    grid-row: 1;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    opacity: 0.85;
  }
  
  #cartButton,
#bookingButton {
    padding-right: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
    grid-row: 1;
    grid-column: 9 / span 4;
}

  
  #ticketHackButton {
    font-size: 28px;
    padding-right: 1.5rem;
    text-decoration: none;
    color: #58A895;
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    padding-left: 2%;
  }

  #logo-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
    color: #58A895;
    font-weight: bold;
    padding-left: 2%;
    font-family: 'Trebuchet MS';
  }
  
  #container-left {
    grid-row-start: 10;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 3;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 65%;
    height: 3vh;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F4;
    border-bottom: 1px solid #dadada;
  }
  
  #search-btn {
    width: 70%;
    margin-top: 10px;
    padding: 5%;
    border-radius: 10px;
    background-color: #58A895;
    border: none;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
  }
  
  #container-right {
    background-size: 90%;
    grid-row-start: 10;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-end: 8;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  
  #default {
    grid-row-start: 10;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-end: 8;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  #trainImg img {
    border-bottom: 5px solid #58A895;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 20%;
    padding-top: 20%;
  }
  
  #container-trips {
    overflow: auto;
    width: 100%;
  }
  


  
  




/*body {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/background.jpg");
    background-size: 100%;
    border: 0px;
}

#everything {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    border: 0px;
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px black solid;
}

#upperbody {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px rgb(205, 18, 193) solid;
}

#lowerbody {
    grid-row-start: 4;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 11;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    border: 1px rgb(38, 237, 8) solid;
}

#resultscontainer {
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px black solid;
    overflow: scroll;
}

#searchcontainer {
    height: 80%;
    width: 20%;
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 9;
    grid-column-end: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px black solid;
}

#DAinput {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 5px black solid;
}


#twoinheader {
    flex-direction: row;
}

#logo {
    display: flex;
    flex-direction: column;
    border: 5px rgb(205, 23, 23) solid;
}

#bigtxt {
    font-size: 40px;
    font-family: "Verdana", "Tahoma", sans-serif;
}

#smalltxt {
    font-size: 20px;
    font-family: "Verdana", "Tahoma", sans-serif;
}


.blank {
    background-color: rgb(238, 255, 0);
}

.grey {
    background-color: rgb(137, 137, 137);
    font-size: 15px;
    font-family: "Verdana", "Tahoma", sans-serif
}

.button {
    border: 5px solid rgb(36, 23, 215);
}

.pink {
    background-color: rgb(196, 32, 185);
}

.triptextresult {
    font-size: 15px;
    font-family: "Verdana", "Tahoma", sans-serif
}

*/